{% extends 'base.html.twig' %}

{% block title %}youRLs.co.uk | URL Shortener{% endblock %}

{% block body %}

{% include ':default/partials:header.html.twig' %}

<div class="wrapper">
    <div class="parallax">
        <div class="parallax-background">
            <img class="parallax-background-image" src="{{ asset('assets/img/parallax-night-sky-image.jpg') }}">
        </div>
        <div class= "container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="description text-center">
                        <h2>Bigger isn't always better.</h2>
                        <div class="description-subtitle">
                            <h5>Enter your long link and let us generate a short youRL for you instead!</h5>
                        </div>
                    </div>
                    {% form_theme form 'bootstrap_3_layout.html.twig' %}
                    {{ form_start(form) }}
                    <div class="input-group input-group-lg">
                        {{ form_widget(form.url) }}
                        <span class="input-group-btn">{{ form_widget(form.submit) }}</span>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    {% include ':default/partials:featuresBlock.html.twig' %}
    {% include ':default/partials:aboutBlock.html.twig' %}
    {% include ':default/partials:footer.html.twig' %}
</div>

{% endblock %}